# Predictions
FIRA Big Data Platform < Data Mining >

## Contents
### 1. Data
- 1-1. `german_predictions.csv`
- 1-2. Preprocessing : dummy variables
- 1-3. Train-Test Split : `sklearn.model_selection.test_train_split`

### 2. Linear Regression
- 2-1. `sklearn.linear_model.LinearRegression`
- 2-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`

### 3. k-nn
- 3-1. `sklearn.neighbors.KNeighborsRegressor`
- 3-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`

### 4. SVM
- 4-1. `sklearn.svm.LinearSVR`
- 4-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`

### 5. Cross-Validation Test
- 5-1. 필요성
- 5-2. K-Fold Cross Validation : `sklearn.cross_validation.cross_val_score`

### 6. 실습 : 신용 금액 예측 모델

---
### 1. Data
#### 1-1.  `german_predictions.csv`

`german_predictions.csv`는 독일 은행에 신용거래를 신청한 신청자 1000명의 데이터이다. 관찰번호(OBS#)를 제외하고 총 28개의 변수로 이루어져있으며, 각 신청자들의 '신용 금액(AMOUNT)'가 예측하고자 하는 변수이다.

In [1]:
import pandas as pd

In [2]:
# 변수별 설명 : CodeList
pd.read_csv("CodeList_predictions.csv").iloc[:, :4]

,변수명,설명,변수 종류,코드 설명
0,OBS#,관찰번호,-,일련번호
1,CHK_ACCT,당좌 예금 계좌 상태,범주형,"0 : 0 DM 미만, 1 : 0~200 DM 미만, 2 : 200 DM 이상, 3..."
2,DURATION,신용거래 개월 수,수치형,NaN
3,HISTORY,신용기록,범주형,"0 : 신용거래 없음, 1 : 기한 내 변제, 2 : 변제 기한 남음, 3 : 연체..."
4,NEW_CAR,신용목적,이진수형,신형 자동차 0 : 없음 1 : 있음
5,USED_CAR,신용목적,이진수형,중고 자동차 0 : 없음 1 : 있음
6,FURNITURE,신용목적,이진수형,가구/주방기기 0 : 없음 1 : 있음
7,RADIO/TV,신용목적,이진수형,라디오/TV 0 : 없음 1 : 있음
8,EDUCATION,신용목적,이진수형,교육 0 : 없음 1 : 있음
9,RETAINING,신용목적,이진수형,재교육 0 : 없음 1 : 있음
10,SAV_ACCT,보통예금 계좌 평균 잔고,범주형,"0 : 100 DM 미만, 1 : 100~500 DM, 2 : 500~1000 D..."
11,EMPLOYMENT,현 직장 재직 기간,범주형,"0 : 무직, 1 : 1년 미만, 2 : 1~4년 미만, 3 : 4~7년 미만, 4..."
12,INSTALL_RATE,가처분 소득 대비 할부금 이자율,수치형,NaN
13,MALE_DIV,이혼 남성,이진수형,"0 : 아니오, 1: 예"
14,MALE_SINGLE,미혼 남성,이진수형,"0 : 아니오, 1: 예"
15,MALE_MAR_WID,기혼 남성 혹은 홀아비,이진수형,"0 : 아니오, 1: 예"
16,CO-APPLICANT,공동 신청자,이진수형,"0 : 아니오, 1: 예"
17,GUARANTOR,보증인 유/무,이진수형,"0 : 아니오, 1: 예"
18,PRESENT_RESIDENT,현 주소지 거주 기간,범주형,NaN
19,REAL_ESTATE,부동산 보유,이진수형,"0 : 아니오, 1: 예"
20,PROP_UNKN_NONE,보유재산 없음,이진수형,"0 : 아니오, 1: 예"
21,AGE,연령,수치형,NaN
22,OTHER_INSTALL,타 할부 거래,이진수형,"0 : 아니오, 1: 예"
23,RENT,임대,이진수형,"0 : 아니오, 1: 예"
24,OWN_RES,주택 유/무,이진수형,"0 : 아니오, 1: 예"
25,NUM_CREDITS,현재 대출 건수,수치형,NaN
26,JOB,직종,범주형,"0 : 무직/비숙련 비정규직, 1 : 비숙련 정규직, 2 : 숙련직/작업감독, 3..."
27,NUM_DEPENDENTS,부양가족 수,수치형,NaN
28,TELEPHONE,전화 가입,이진수형,"0 : 아니오, 1: 예"
29,FOREIGN,외국인 근로자,이진수형,"0 : 아니오, 1: 예"
30,AMOUNT,신용금액,수치형,NaN

15번 dummify면서 여성은 안 나타남.

우리가 prediction하려는 목표가 30번 amount

In [3]:
# df
df = pd.read_csv("german_predictions.csv").set_index("OBS#")
df.tail()

,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETAINING,SAV_ACCT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,AMOUNT
OBS#,,,,,,,,,,,,,,,,,,,,,
995,3,12,2,0,0,1,0,0,0,0,...,31,0,0,1,1,1,1,0,0,1736
996,0,30,2,0,1,0,0,0,0,0,...,40,0,0,1,1,3,1,1,0,3857
997,3,12,2,0,0,0,1,0,0,0,...,38,0,0,1,1,2,1,0,0,804
998,0,45,2,0,0,0,1,0,0,0,...,23,0,0,0,1,2,1,1,0,1845
999,1,45,4,0,1,0,0,0,0,1,...,27,0,0,1,1,2,1,0,0,4576

In [4]:
list(df.columns)

['CHK_ACCT',
 'DURATION',
 'HISTORY',
 'NEW_CAR',
 'USED_CAR',
 'FURNITURE',
 'RADIO/TV',
 'EDUCATION',
 'RETAINING',
 'SAV_ACCT',
 'EMPLOYMENT',
 'INSTALL_RATE',
 'MALE_DIV',
 'MALE_SINGLE',
 'MALE_MAR_WID',
 'CO-APPLICANT',
 'GUARANTOR',
 'PRESENT_RESIDENT',
 'REAL_ESTATE',
 'PROP_UNKN_NONE',
 'AGE',
 'OTHER_INSTALL',
 'RENT',
 'OWN_RES',
 'NUM_CREDITS',
 'JOB',
 'NUM_DEPENDENTS',
 'TELEPHONE',
 'FOREIGN',
 'AMOUNT']

#### 1-2. Preprocessing : dummy variables

In [5]:
# dummy varaibles : preprocessed_df
want_to_dummify_cols = ["CHK_ACCT", "HISTORY", "SAV_ACCT", 'EMPLOYMENT', 'JOB'] # 해당 범주형 변수들은 순서가 있긴 하지만 그 평균 등이 의미를 갖지는 않으므로 더미화하자.
preprocessed_df = pd.get_dummies(df,columns = want_to_dummify_cols)
preprocessed_df

,DURATION,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETAINING,INSTALL_RATE,MALE_DIV,MALE_SINGLE,...,SAV_ACCT_4,EMPLOYMENT_0,EMPLOYMENT_1,EMPLOYMENT_2,EMPLOYMENT_3,EMPLOYMENT_4,JOB_0,JOB_1,JOB_2,JOB_3
OBS#,,,,,,,,,,,,,,,,,,,,,
0,6,0,0,0,1,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
1,48,0,0,0,1,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
2,12,0,0,0,0,1,0,2,0,1,...,0,0,0,0,1,0,0,1,0,0
3,42,0,0,1,0,0,0,2,0,1,...,0,0,0,0,1,0,0,0,1,0
4,24,1,0,0,0,0,0,3,0,1,...,0,0,0,1,0,0,0,0,1,0
5,36,0,0,0,0,1,0,2,0,1,...,1,0,0,1,0,0,0,1,0,0
6,24,0,0,1,0,0,0,3,0,1,...,0,0,0,0,0,1,0,0,1,0
7,36,0,1,0,0,0,0,2,0,1,...,0,0,0,1,0,0,0,0,0,1
8,12,0,0,0,1,0,0,2,1,0,...,0,0,0,0,1,0,0,1,0,0
9,30,1,0,0,0,0,0,4,0,0,...,0,1,0,0,0,0,0,0,0,1
10,12,1,0,0,0,0,0,3,0,0,...,0,0,1,0,0,0,0,0,1,0
11,48,0,0,0,0,0,0,3,0,0,...,0,0,1,0,0,0,0,0,1,0
12,12,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
13,24,1,0,0,0,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
14,15,1,0,0,0,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
15,24,0,0,0,1,0,0,4,0,0,...,0,0,0,1,0,0,0,1,0,0
16,24,0,0,0,1,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
17,30,0,0,0,0,0,0,2,0,1,...,1,0,1,0,0,0,0,0,1,0
18,24,0,1,0,0,0,0,4,0,0,...,0,0,0,0,0,1,0,0,0,1
19,24,0,0,0,1,0,0,3,0,1,...,0,0,0,0,0,1,0,0,1,0
20,9,1,0,0,0,0,0,4,0,1,...,0,0,0,1,0,0,0,0,1,0
21,6,0,0,0,1,0,0,2,0,1,...,0,0,0,1,0,0,0,0,1,0
22,10,1,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,1,0,0
23,12,0,1,0,0,0,0,3,0,1,...,0,0,1,0,0,0,0,0,1,0
24,10,0,0,1,0,0,0,2,0,0,...,1,0,0,1,0,0,0,0,1,0
25,6,0,0,1,0,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
26,6,0,0,0,1,0,0,4,0,0,...,0,0,0,0,0,1,0,1,0,0
27,12,0,0,0,1,0,0,3,0,0,...,0,0,0,1,0,0,0,0,1,0
28,7,0,0,0,1,0,0,3,0,1,...,0,0,0,1,0,0,0,0,1,0
29,60,0,0,0,0,0,0,3,0,1,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,15,0,0,0,0,0,0,4,0,1,...,0,0,0,1,0,0,0,0,1,0
971,24,1,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
972,24,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
973,60,0,0,0,0,0,0,4,0,1,...,0,0,0,0,0,1,0,0,1,0
974,30,0,0,0,1,0,0,4,0,0,...,0,0,0,1,0,0,0,0,1,0
975,24,0,0,0,1,0,0,3,0,0,...,0,0,0,1,0,0,0,1,0,0
976,6,0,0,0,1,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
977,18,0,0,0,0,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
978,24,1,0,0,0,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
979,15,1,0,0,0,0,0,2,0,0,...,0,0,0,1,0,0,0,0,1,0
980,30,0,0,1,0,0,0,2,0,1,...,0,0,0,0,1,0,0,0,1,0
981,48,0,0,0,0,0,0,3,0,1,...,0,1,0,0,0,0,0,0,0,1
982,21,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
983,36,0,1,0,0,0,0,2,0,1,...,0,0,0,1,0,0,0,0,1,0
984,24,0,0,1,0,0,0,2,0,1,...,0,0,0,0,1,0,0,1,0,0
985,15,0,0,1,0,0,0,4,0,0,...,0,0,0,1,0,0,0,0,1,0
986,42,0,0,0,0,0,0,2,1,0,...,0,0,1,0,0,0,0,0,1,0
987,13,0,0,0,1,0,0,2,0,0,...,0,1,0,0,0,0,0,0,1,0
988,24,0,1,0,0,0,0,4,0,1,...,0,1,0,0,0,0,0,0,0,1
989,24,0,0,0,1,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
990,12,0,0,0,0,1,0,2,0,1,...,1,0,1,0,0,0,0,1,0,0
991,15,0,0,0,1,0,0,4,0,1,...,0,0,0,0,0,1,0,1,0,0
992,18,0,0,0,1,0,0,2,0,0,...,1,0,0,0,1,0,0,1,0,0
993,36,0,0,1,0,0,0,4,0,1,...,0,1,0,0,0,0,0,0,0,1
994,12,1,0,0,0,0,0,4,0,1,...,1,0,0,0,0,1,0,0,1,0
995,12,0,0,1,0,0,0,3,0,0,...,0,0,0,0,1,0,0,1,0,0
996,30,0,1,0,0,0,0,4,1,0,...,0,0,0,1,0,0,0,0,0,1
997,12,0,0,0,1,0,0,4,0,1,...,0,0,0,0,0,1,0,0,1,0
998,45,0,0,0,1,0,0,4,0,1,...,0,0,0,1,0,0,0,0,1,0
999,45,0,1,0,0,0,0,3,0,1,...,0,1,0,0,0,0,0,0,1,0

In [6]:
# split X, y -> prediction에서는 우리가 맞추고 싶은 답이 있다! 바로 amount가 y가 되겠지.
X, y = preprocessed_df.drop("AMOUNT", axis = 1), preprocessed_df.AMOUNT

#### 1-3. Train-Test Split : `sklearn.model_selection.train_test_split`
---
지도학습을 위해 주어진 데이터를 train set과 test set으로 나눈다.

In [7]:
# import packages
from sklearn.model_selection import train_test_split

In [8]:
# train_test_split  # index를 기반으로 쪼개줌.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 23)

random_state: 여러가지 random한 state가 있는데 그중에 42번째 형태를 사용하겠다. 그래서 동일한 수행결과를 보장함으로써 연구에 편함. 실험할 때마다 다른 모습을 보이면 골치아프겠지.

### 2. Linear Regression
---

#### 2-1. `sklearn.linear_model.LinearRegression`
---

In [9]:
# import packages
from sklearn.linear_model import LinearRegression

In [10]:
# Parameters
# fit_intercept = True # 상수를 넣을 것인지
# normalize = False # 변수들을 normalize한 상태로 모델을 얻을 것인지

In [11]:
# lr_model
lr_model = LinearRegression()

In [12]:
# fit to model
lr_model.fit(X = X_train, y = y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
# get predictions
y_pred_lr = lr_model.predict(X = X_test)

In [14]:
lr_model.coef_ # 가변수화를 시켰으므로 갯수가 늘어남
lr_model.intercept_ # 절편은 이렇게

1183.5293576550785

In [15]:
# result_y_test_df 
result_y_test_df = pd.DataFrame(y_test)
result_y_test_df['pred_lr'] = y_pred_lr
result_y_test_df

      AMOUNT      pred_lr
OBS#
519      700   494.091598
837      601  1596.477601
208     6568  3111.590480
525     7966  5437.910722
978     2538  2679.097113
583     2384  5228.838401
508     1413  1574.169316
158     3512  4578.534863
589     2246  2049.206111
201     1168   111.155696
280     3368  3913.900885
167     1577   404.137925
974     2831  3223.550695
95     15945  8948.136831
236    14555  2154.046600
203      902  -230.834214
790     1188  2892.136729
428     1313  2557.070204
998     1845  5665.824196
381    12976  4812.206868
705     5324  3067.683465
410     1967  2022.994469
684     9857  7098.577546
211     3835  5442.658530
585     2039  3238.698001
934     1498   192.261987
905     1107  3647.022826
883     1098   473.319620
844     3422  2277.676422
329     1068  -559.132122
...      ...          ...
196     1382  2713.699194
995     1736  1221.404150
345     1459   887.687721
59      6229  6266.557221
215      932  2506.008072
22      2241  3277.251236
26       426 -1007.501435
253     4151  4650.826428
157      339    52.142256
816     1338  2298.065147
655     3973  3514.113494
847     1249  1787.820315
729     1275  3826.858069
415     5842  6584.154213
733     2603  4623.917535
749     3029  3586.413700
955     1231  3674.556725
477     5152  1412.628346
919     3345  4184.198414
983     8229  6091.689402
734     3380  1563.341962
819     1345   410.578483
404     2899  1943.235594
860     5804  3173.223073
268     8978  5177.573675
689     3651  2967.312731
979     1264  2380.299519
161     1055  1817.830653
935     1919  5752.289064
502     1126   753.023110

[250 rows x 2 columns]

#### 2-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`
---

In [16]:
# import packages
from sklearn.metrics import mean_squared_error
import math

In [17]:
# error_lr
error_lr = mean_squared_error(y_pred = y_pred_lr, y_true = y_test)
error_lr

4449394.0814874144

In [18]:
# rms_lr
rms_lr = math.sqrt(error_lr)
rms_lr

2109.358689622847

### 3. k-nn
---

#### 3-1. `sklearn.neighbors.KNeighborRegressor`
---

In [19]:
# import packages
from sklearn.neighbors import KNeighborsRegressor

In [20]:
# set parameters
# n_neighbors
n_neighbor = 5

# weights = 'uniform' # uniform:주변 데이터의 가중치를 모두 동일하게, distance: 선택시 거리에 반비례
weights = 'distance'

In [21]:
# knn_model
knn_model = KNeighborsRegressor(n_neighbors= n_neighbor)

In [22]:
# fit to model
knn_model.fit(X = X_train, y = y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [23]:
# get predictions
y_pred_knn = knn_model.predict(X = X_test)

In [24]:
# result_y_test_df
result_y_test_df['pred_knn'] = y_pred_knn
result_y_test_df

      AMOUNT      pred_lr  pred_knn
OBS#
519      700   494.091598    1104.4
837      601  1596.477601    1220.0
208     6568  3111.590480    2577.8
525     7966  5437.910722    5725.4
978     2538  2679.097113    3464.6
583     2384  5228.838401    4044.4
508     1413  1574.169316    2276.0
158     3512  4578.534863    5158.6
589     2246  2049.206111    1673.2
201     1168   111.155696    1152.8
280     3368  3913.900885    2187.2
167     1577   404.137925    1342.0
974     2831  3223.550695    3858.0
95     15945  8948.136831    8348.8
236    14555  2154.046600    1494.0
203      902  -230.834214     892.0
790     1188  2892.136729    2932.0
428     1313  2557.070204    1633.0
998     1845  5665.824196    6472.4
381    12976  4812.206868    3997.0
705     5324  3067.683465    1711.6
410     1967  2022.994469    2724.2
684     9857  7098.577546    6196.6
211     3835  5442.658530   11631.2
585     2039  3238.698001    2252.0
934     1498   192.261987    1864.6
905     1107  3647.022826    1271.0
883     1098   473.319620    1947.6
844     3422  2277.676422    1552.2
329     1068  -559.132122     967.4
...      ...          ...       ...
196     1382  2713.699194    1257.2
995     1736  1221.404150    1437.2
345     1459   887.687721    2235.6
59      6229  6266.557221    6053.2
215      932  2506.008072    1742.6
22      2241  3277.251236    1741.2
26       426 -1007.501435     744.6
253     4151  4650.826428    2890.6
157      339    52.142256    1574.2
816     1338  2298.065147    1349.4
655     3973  3514.113494    2102.4
847     1249  1787.820315    2196.8
729     1275  3826.858069    2659.8
415     5842  6584.154213    6016.2
733     2603  4623.917535    3583.8
749     3029  3586.413700    3406.4
955     1231  3674.556725    1343.4
477     5152  1412.628346    2436.8
919     3345  4184.198414    3104.0
983     8229  6091.689402    5035.2
734     3380  1563.341962    2100.4
819     1345   410.578483    1951.8
404     2899  1943.235594    3370.4
860     5804  3173.223073    3444.8
268     8978  5177.573675    2291.0
689     3651  2967.312731    1985.4
979     1264  2380.299519    1618.4
161     1055  1817.830653    1687.2
935     1919  5752.289064    4181.8
502     1126   753.023110    2213.6

[250 rows x 3 columns]

#### 3-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`
---

In [25]:
# import packages
from sklearn.metrics import mean_squared_error
import math

In [26]:
# error_knn
error_knn = mean_squared_error(y_true = y_test, y_pred = y_pred_knn)
# rms_knn
rms_knn = math.sqrt(error_knn)
rms_knn

2562.72025972403

### 4. SVM
---

#### 4-1. `sklearn.svm.LinearSVR`
---

In [27]:
# import packages
from sklearn.svm import LinearSVR

In [28]:
# set parameters
# C=1.0 # soft margin 허용량 C가 커질수록 soft해지는 것
C = 1.0

In [29]:
#svm_model
svm_model = LinearSVR(C = C)

In [30]:
# fit to model
svm_model.fit(X = X_train, y = y_train)

LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,
     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
     random_state=None, tol=0.0001, verbose=0)

In [31]:
# get predictions
y_pred_svm =  svm_model.predict(X = X_test)

In [32]:
# result_y_test_df
result_y_test_df['pred_svm'] = y_pred_svm
result_y_test_df

      AMOUNT      pred_lr  pred_knn     pred_svm
OBS#
519      700   494.091598    1104.4   588.160021
837      601  1596.477601    1220.0   757.342324
208     6568  3111.590480    2577.8  3010.821492
525     7966  5437.910722    5725.4  3534.653586
978     2538  2679.097113    3464.6  3108.713377
583     2384  5228.838401    4044.4  4432.512788
508     1413  1574.169316    2276.0  2721.865512
158     3512  4578.534863    5158.6  3394.015865
589     2246  2049.206111    1673.2  1929.725899
201     1168   111.155696    1152.8  1134.375069
280     3368  3913.900885    2187.2  1885.480224
167     1577   404.137925    1342.0   952.129376
974     2831  3223.550695    3858.0  3647.610438
95     15945  8948.136831    8348.8  7388.828315
236    14555  2154.046600    1494.0  1057.413606
203      902  -230.834214     892.0  1107.135249
790     1188  2892.136729    2932.0  2926.528322
428     1313  2557.070204    1633.0  1368.042615
998     1845  5665.824196    6472.4  5457.210757
381    12976  4812.206868    3997.0  2515.021001
705     5324  3067.683465    1711.6  2300.879837
410     1967  2022.994469    2724.2  2620.278562
684     9857  7098.577546    6196.6  5078.147817
211     3835  5442.658530   11631.2  4899.033024
585     2039  3238.698001    2252.0  2453.895822
934     1498   192.261987    1864.6  1083.456301
905     1107  3647.022826    1271.0  1594.065036
883     1098   473.319620    1947.6  2530.874137
844     3422  2277.676422    1552.2  2420.657936
329     1068  -559.132122     967.4   427.110174
...      ...          ...       ...          ...
196     1382  2713.699194    1257.2  1090.508540
995     1736  1221.404150    1437.2  1470.029519
345     1459   887.687721    2235.6  1795.267291
59      6229  6266.557221    6053.2  4373.678350
215      932  2506.008072    1742.6  1207.247967
22      2241  3277.251236    1741.2  1894.179107
26       426 -1007.501435     744.6   532.619305
253     4151  4650.826428    2890.6  3381.203993
157      339    52.142256    1574.2  1389.932211
816     1338  2298.065147    1349.4  1509.416094
655     3973  3514.113494    2102.4  2042.483163
847     1249  1787.820315    2196.8  2736.578188
729     1275  3826.858069    2659.8  3296.066554
415     5842  6584.154213    6016.2  4972.466243
733     2603  4623.917535    3583.8  3270.475187
749     3029  3586.413700    3406.4  2172.985823
955     1231  3674.556725    1343.4  3227.543254
477     5152  1412.628346    2436.8  2689.188832
919     3345  4184.198414    3104.0  3073.874401
983     8229  6091.689402    5035.2  4774.502644
734     3380  1563.341962    2100.4   935.584321
819     1345   410.578483    1951.8  1842.151100
404     2899  1943.235594    3370.4  2251.252396
860     5804  3173.223073    3444.8  2813.211766
268     8978  5177.573675    2291.0  2409.935603
689     3651  2967.312731    1985.4  1899.468403
979     1264  2380.299519    1618.4  1953.545557
161     1055  1817.830653    1687.2  2071.915783
935     1919  5752.289064    4181.8  3654.568773
502     1126   753.023110    2213.6  1417.493657

[250 rows x 4 columns]

#### 4-2. Evaluation Measure 'RMS' : `sklearn.metrics.mean_squared_error`
---

In [33]:
# import packages
from sklearn.metrics import mean_squared_error
import math

In [34]:
# error_svm
error_svm = mean_squared_error(y_true = y_test, y_pred = y_pred_svm)
# rms_svm
rms_svm = math.sqrt(error_svm)
rms_svm

2458.5314676835983

### 5. Cross Validation Test
---
#### 5-1. 필요성
---

In [35]:
# train, test set을 바꿔보자
X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(X, y, test_size = 0.25, random_state = 17)

In [36]:
# 이미 학습한 모델로 새로운 test set의 prediction 값을 얻어보자
y_pred_new = lr_model.predict(X = X_test_new)

In [37]:
# rms
math.sqrt(mean_squared_error(y_pred = y_pred_new, y_true = y_test_new))

1956.1375817275464

#### 5-2.  K-Fold Cross Validation : `sklearn.cross_validation.cross_val_score`
---
LR, KNN, SVM 등 모델 등 중에 어떤 모델을 사용할지 결정할 때 사용한다. 지금까지는 한가지 경우에 대해서만 모델을 평가했기 때문에.

Data가 적을 때 CV는 유용하게 사용됨. 결국 data가 귀하기 때문에!

In [38]:
# import packages
from sklearn.cross_validation import cross_val_score

/home/snu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [39]:
# set parameters
estimator= lr_model # fit할 모델
cv= 5               # 전체 데이터를 k개의 그룹으로 나누고 총 k번의 모델 training - test를 반복한다.
                    # 이 때 각 회차마다 test set이 되는 그룹을 계속 바꾼다.

    
def rmse_scorer(estimator, X, y):
    y_pred = estimator.predict(X = X)
    rmse = math.sqrt(mean_squared_error(y_pred = y_pred, y_true = y))
    return rmse

scorer= rmse_scorer            # Evaluation Measure로 사용할 Score Function - scorer(estimator, X, y). 이걸 만들어줘야해

In [40]:
# cross_val_score
cross_val_score(estimator = estimator, cv = cv, scoring = rmse_scorer, X = X, y = y) #cv는 X를 통째로 던져주면 되겠지!

array([ 1837.64271999,  2070.5463413 ,  1465.1035543 ,  1748.82098496,
        2112.80639905])

In [41]:
# cv_test_result_df
cv_test_result_df = pd.DataFrame()
cv_test_result_df[estimator] = cross_val_score(estimator = estimator, cv = cv, scoring = rmse_scorer, X = X, y = y)
cv_test_result_df

   LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)
0                                        1837.642720
1                                        2070.546341
2                                        1465.103554
3                                        1748.820985
4                                        2112.806399

In [42]:
cv_test_result_df.mean()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)    1846.984
dtype: float64

In [43]:
# run cv test for more models & add cols to cv_test_result_df

### 편중된 데이터의 경우 stratified k-fold cross-validation을 사용하면 됨.

### 6. 실습 : 신용 금액 예측 모델
---
전처리된 데이터를 이용하여 신용 금액을 가장 잘 예측하는 모델을 찾아라.
- 전처리를 더 수행해도 무방하다. 단, 전처리를 수행한 과정을 기술하라.
- 5개 이상의 모델을 비교하여라. (* 참고 : 같은 모델에 다른 parameter를 사용한 것도 다른 모델로 본다 *)
- cross validation test를 반드시 수행하고(cv=5 이상), 결과를 df로 저장하여라.
- 가장 좋은 모델을 고르고, 그 이유를 설명하여라.

##### (Optional) Preprocessing
---

%pylab inline
import seaborn as sns; sns.set(style="ticks", color_codes=True)

german_credt = sns.load_dataset("irirs")
g = sns.pairplot(german_credit)

어떤 변수든지 그것이 들어가야할 이유를 ***'소설'***로 쓸 수 있다. 하지만 내가 판단하기에 그 가능성이 너무 낮은 것은 제거해주기로 결정.

In [44]:
unrelated_cols = ['PRESENT_RESIDENT', 'TELEPHONE']
repreprocessed_df = preprocessed_df.drop(unrelated_cols, axis =1)

In [45]:
X, y = repreprocessed_df.drop("AMOUNT", axis = 1), repreprocessed_df.AMOUNT

##### Models
---

In [46]:
models = [lr_model, knn_model, svm_model]

##### Cross-Validation Test
---

In [47]:
cv = 5
cv5_test_result_df = pd.DataFrame()
for model in models:
    cv5_test_result_df[model] = cross_val_score(estimator = model, cv = cv, scoring = rmse_scorer, X = X, y = y)

cv5_test_result_df

,"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)","KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2, weights='uniform')","LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True, intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000, random_state=None, tol=0.0001, verbose=0)"
0,1844.801944,2189.862009,2179.639845
1,2090.902010,2498.607913,2391.012699
2,1470.513967,1869.698779,1642.676319
3,1761.657757,2236.757068,2011.043985
4,2118.639663,2587.914227,2492.960473

In [48]:
cv5_test_result_df.mean()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)                                                                                                            1857.303068
KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',\n          metric_params=None, n_jobs=1, n_neighbors=5, p=2,\n          weights='uniform')                      2276.567999
LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,\n     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,\n     random_state=None, tol=0.0001, verbose=0)    2143.466664
dtype: float64

In [49]:
cv = 10
cv10_test_result_df = pd.DataFrame()
for model in models:
    cv10_test_result_df[model] = cross_val_score(estimator = model, cv = cv, scoring = rmse_scorer, X = X, y = y)

cv10_test_result_df

,"LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)","KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2, weights='uniform')","LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True, intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000, random_state=None, tol=0.0001, verbose=0)"
0,2024.992425,2374.797874,2349.364761
1,1634.210979,1952.351955,1973.176542
2,2114.401483,2573.694088,2456.160947
3,2090.775486,2443.856223,2298.596736
4,1592.261425,1976.670762,1791.608280
5,1342.969352,1629.849781,1468.065163
6,1597.231939,1912.545022,1748.921185
7,1910.977482,2474.069680,2237.991159
8,2044.280859,2386.687299,2457.904105
9,2230.086770,2693.111308,2500.416283

In [50]:
cv10_test_result_df.mean()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)                                                                                                            1858.218820
KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',\n          metric_params=None, n_jobs=1, n_neighbors=5, p=2,\n          weights='uniform')                      2241.763399
LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,\n     intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,\n     random_state=None, tol=0.0001, verbose=0)    2128.220516
dtype: float64

##### Best Model???
- Linear Regression seems to be the best in this case.
- My decision was not good actually

### More to think...
은행에서 신용 금액 예측 모델을 도입하려고 할 때, 어떤 모델을 추천할 것인가?
- 가장 좋은 모델을 보여주는 것이 가장 좋은가? 
> 
- 각 모델들의 장단점을 생각해보자.
- 은행에 모델들을 설명해야한다고 할 때 어떻게 설명할 것인가?
> 그 사람들이 이해할 수 있도록 설명ㅎ
- 현업에 모델을 도입하려고 할 때 가장 먼저 고려해야하는 것이 무엇이라고 생각하는가?