# Pandas & Preprocessing
2017.08.11.금 09:00-13:00

## 오늘의 주제 
---
### 1. Pandas Tutorial
- 1-1. Data Structure
- 1-2. Selection : Slicing, Getting
- 1.3. Add New Rows & Columns
- 1-4. Inspection
- 1-5. Arithmetic
- 1-6. Map & Apply Function
- 1-7. Sort
    
### 2. Preprocessing
- 2-1. Data Load from .csv, .sql
- 2-2. Join table
- 2-3. Save DataFrame : pickle

### 실습 : 군집화 실습 데이터 기본 전처리
    
### 3. Basic Visualization
- 3-1. scatter plot by matplotlib.pyplot
- 3-2. heatmap using seaborn
- 3-3. line plot w/ hover by bokeh.js

### 1. Pandas Tutorial
---
Pandas는 NumPy를 기반으로 하는 데이터 분석에 최적화된 파이썬 라이브러리입니다. Series, DataFrame의 데이터 구조를 제공하고 이를 계산하는 도구를 제공하여 데이터 분석을 보다 편리하게 해줍니다.

In [82]:
# import package
import pandas as pd
# version

#### 1.1. Data Structure
---
##### pd.Series 
1. Labeling이 가능한 1차원 Array Object 
2. 모두 같은 데이터형을 가집니다.

In [83]:
# pd.Series [3, -5, 7, 4]
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])

##### pd.DataFrame 
1. Labeling이 가능한 2차원 Array Object
2. column 별로 서로 다른 데이터형을 가질 수 있습니다.

In [84]:
# pd.DataFrame
data = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}

df= pd.DataFrame(data
                 , columns=['Country', 'Capital', 'Population']
                 , index=['Country 1', 'Country 2', 'Country 3'])

#### 1.2. Selection : getting, slicing
---

##### Getting

In [85]:
# Series : By index
print(s['b'])

-5

In [86]:
# DataFrame : By Row 
df[1:] # can not select just one value - getting 'subset'

          Country    Capital  Population
Country 2   India  New Delhi  1303171035
Country 3  Brazil   Brasília   207847528

In [87]:
# DataFrame : By column
df['Capital']

Country 1     Brussels
Country 2    New Delhi
Country 3     Brasília
Name: Capital, dtype: object

##### Slicing
* df.iloc : index를 통한 slicing
* df.loc : index, label을 통한 slicing

In [88]:
# By Position
df.iloc[0, 0]

'Belgium'

In [89]:
# By Label
df.loc['Country 1', ['Capital']]

Capital    Brussels
Name: Country 1, dtype: object

In [94]:
df.loc[:, 'Capital'] # (= df.Capital)

Country 1     Brussels
Country 2    New Delhi
Country 3     Brasília
Name: Capital, dtype: object

##### Boolean Slicing (Mask)
해당 조건을 만족하는 부분만 slicing - True/False 기반

In [95]:
s[s>1]

a    3
c    7
d    4
dtype: int64

In [96]:
# Mask?
s>1

a     True
b    False
c     True
d     True
dtype: bool

In [97]:
# 부정 조건
s[~(s>1)]

b   -5
dtype: int64

In [99]:
# OR
s[(s < -1) | (s > 5)]

b   -5
c    7
dtype: int64

In [100]:
df[df['Population']>1200000000] # 특정 열 조건으로 필터링 가능

          Country    Capital  Population
Country 2   India  New Delhi  1303171035

In [101]:
df['Population']>1200000000

Country 1    False
Country 2     True
Country 3    False
Name: Population, dtype: bool

#### 1.3. Adding a New Row & Column
---
##### Row

In [ ]:
# adding new or update row
df.loc['Country 4'] = ['Korea', 'Seoul', 50000000, 'Asia']

*Q. .iloc으로 새로운 행을 추가할 수 있는가? 그 이유는?*

In [ ]:
# Can't use iloc
df.iloc[df.shape[0]] = ['Korea', 'Seoul', 50000000, 'Asia']

##### Column

In [ ]:
# adding new or update columns
df['Continent'] = ['Europe', 'Asia', 'America']

#### 1.4. Inspection
---

In [102]:
# DataFrame 크기 정보
df.shape

(3, 3)

In [103]:
# 행 정보
df.index

Index(['Country 1', 'Country 2', 'Country 3'], dtype='object')

In [104]:
# 열 정보
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [105]:
# 상세 정보 : 행 정보, 열 정보 및 데이터형, 메모리
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Country 1 to Country 3
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

#### 1.5 Arithmetic
---
##### 모든 타입 공통

In [106]:
df.count()

Country       3
Capital       3
Population    3
dtype: int64

In [107]:
df.sum()

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasília
Population                   1522209409
dtype: object

In [108]:
df.cumsum()

                      Country                    Capital  Population
Country 1             Belgium                   Brussels    11190846
Country 2        BelgiumIndia          BrusselsNew Delhi  1314361881
Country 3  BelgiumIndiaBrazil  BrusselsNew DelhiBrasília  1522209409

In [109]:
df.min()

Country        Belgium
Capital       Brasília
Population    11190846
dtype: object

In [111]:
df.min(axis=1)

Country 1      11190846
Country 2    1303171035
Country 3     207847528
dtype: int64

In [110]:
df.max()

Country            India
Capital        New Delhi
Population    1303171035
dtype: object

##### 수치형 데이터

In [112]:
df.min()['Population'] / df.max()['Population']

0.008587396204673933

In [113]:
df['Population'].idxmin()

'Country 1'

In [121]:
df['Population'].argmax()

'Country 2'

In [122]:
df['Population'].idxmax()

'Country 2'

In [123]:
df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [124]:
df.mean()

Population    5.074031e+08
dtype: float64

#### 1.6 Map & Apply Function

#### 1-7. Sort

### 2. Preprocessing
---
- 2-1. Data from .csv, .sql to DataFrame 
- 2-2. Merge/Join two DataFrame : .merge()
- 2-3. Fill or Abandon NaN values
- 2-4. Save & Load as DataFrame : pickle
- 2-5. Data Summary & Exploration : groupby

##### 사용 데이터 : 2016 US Election (Kaggle) - 2016년 미 대선 정당별 대선 후보 경선 결과
- primary_results : 24611 x 8 (공화당, 민주당 대통령 후보 경선 결과)
- county_facts : 3195 x 54 (state, couty별 인구, 주거, 기업, 유통 등 특성 정보)
- county_facts_dictionary : county_facts의 column에 대한 설명 (50개)

#### 2-1. Data from .csv, .sql to DataFrame
---
##### pd.read_sql & sqlite3

In [133]:
# import package
import sqlite3
# import sqlalchemy

In [162]:
# connect sqlite3
con = sqlite3.connect('database.sqlite')

In [ ]:
# read_sql
sql_df = pd.read_sql('SELECT * FROM primary_results', con)
sql_df = pd.read_sql('SELECT * FROM county_facts_dictionary', con)

##### pd.read_csv

In [159]:
# county_facts_df
county_facts_df = pd.read_csv('county_facts.csv')

*Q. `county_facts.csv`를 부른 DataFrame을 State와 County로 분리하여 각각 state_df, county_df로 나누어라*
<br>
- Hint : fips는 지역번호를 나타내며, 0은 미국 전체, 천의 자리 이상은 주를 나타낸다

In [160]:
# state_df
state_df = county_facts_df[county_facts_df['fips'] % 1000 == 0]

# county_df
county_df = county_facts_df[county_facts_df['fips'] % 1000 != 0]

In [167]:
primary_df = pd.read_csv('primary_results.csv')

#### 2-2. Merge/Join two DataFrames : .merge()

In [198]:
# inner vs. outer
primary_couty_facts_inner_df = primary_df.merge(county_df, how="inner", left_on='fips', right_on='fips', suffixes=('_primary', '_county'))
primary_couty_facts_outer_df = primary_df.merge(county_df, how="outer", left_on='fips', right_on='fips', suffixes=('_primary', '_county'))

*Q. inner? outer?*

#### 2-3. Fill or Abandon NaN

In [184]:
# check NaN in data
primary_couty_facts_inner_df.isnull().sum().sum()

0

*Q. 2-2의 DataFrame을 공화당과 민주당의 결과로 분리하여 각각 rep_df, dem_df로 나누어라*

In [189]:
rep_df = primary_couty_facts_inner_df[primary_couty_facts_inner_df['party'] == 'Republican']
dem_df = primary_couty_facts_inner_df[primary_couty_facts_inner_df['party'] == 'Democrat']

#### 2-4.

In [197]:
rep_df.groupby('candidate')['votes'].sum()

candidate
Ben Carson          536822
Carly Fiorina         3485
Chris Christie        3284
Donald Trump      12559572
Jeb Bush             63101
John Kasich        3823482
Marco Rubio        3119282
Mike Huckabee         3345
Rand Paul             8479
Rick Santorum         1782
Ted Cruz           7359825
Name: votes, dtype: int64

#### 2-4. Save & Load DataFrame : pickle

In [65]:
# import pickle
import pickle

In [ ]:
# save as DataFrame
with open('save_df.pkl', 'wb') as f:
    pickle.dump(joined_df, f)

In [67]:
# load as DataFrame
with open('save_df.pkl', 'rb') as f:
    loaded_df =pickle.load(f)

In [68]:
loaded_df

,state,state_abbreviation_primary,county,fips,party,candidate,votes,fraction_votes,area_name,state_abbreviation_county,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544.0,0.182,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387.0,0.800,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764.0,0.146,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387.0,0.445,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421.0,0.035,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
5,Alabama,AL,Autauga,1001.0,Republican,Marco Rubio,1785.0,0.148,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
6,Alabama,AL,Autauga,1001.0,Republican,Ted Cruz,2482.0,0.205,Autauga County,AL,...,0.7,31.7,0.0,0.0,598175.0,12003.0,88157.0,131.0,594.44,91.8
7,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694.0,0.329,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
8,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290.0,0.647,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
9,Alabama,AL,Baldwin,1003.0,Republican,Ben Carson,4221.0,0.084,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
10,Alabama,AL,Baldwin,1003.0,Republican,Donald Trump,23618.0,0.469,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
11,Alabama,AL,Baldwin,1003.0,Republican,John Kasich,2987.0,0.059,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
12,Alabama,AL,Baldwin,1003.0,Republican,Marco Rubio,9703.0,0.193,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
13,Alabama,AL,Baldwin,1003.0,Republican,Ted Cruz,8571.0,0.170,Baldwin County,AL,...,1.3,27.3,1410273.0,0.0,2966489.0,17166.0,436955.0,1384.0,1589.78,114.6
14,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222.0,0.078,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
15,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567.0,0.906,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
16,Alabama,AL,Barbour,1005.0,Republican,Ben Carson,417.0,0.122,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
17,Alabama,AL,Barbour,1005.0,Republican,Donald Trump,1710.0,0.501,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
18,Alabama,AL,Barbour,1005.0,Republican,John Kasich,123.0,0.036,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
19,Alabama,AL,Barbour,1005.0,Republican,Marco Rubio,498.0,0.146,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
20,Alabama,AL,Barbour,1005.0,Republican,Ted Cruz,609.0,0.179,Barbour County,AL,...,0.0,27.0,0.0,0.0,188337.0,6334.0,0.0,8.0,884.88,31.0
21,Alabama,AL,Bibb,1007.0,Democrat,Bernie Sanders,246.0,0.197,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
22,Alabama,AL,Bibb,1007.0,Democrat,Hillary Clinton,942.0,0.755,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
23,Alabama,AL,Bibb,1007.0,Republican,Ben Carson,393.0,0.099,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
24,Alabama,AL,Bibb,1007.0,Republican,Donald Trump,1959.0,0.494,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
25,Alabama,AL,Bibb,1007.0,Republican,John Kasich,84.0,0.021,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
26,Alabama,AL,Bibb,1007.0,Republican,Marco Rubio,444.0,0.112,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
27,Alabama,AL,Bibb,1007.0,Republican,Ted Cruz,1011.0,0.255,Bibb County,AL,...,0.0,0.0,0.0,0.0,124707.0,5804.0,10757.0,19.0,622.58,36.8
28,Alabama,AL,Blount,1009.0,Democrat,Bernie Sanders,395.0,0.386,Blount County,AL,...,0.0,23.2,341544.0,0.0,319700.0,5622.0,20941.0,3.0,644.78,88.9
29,Alabama,AL,Blount,1009.0,Democrat,Hillary Clinton,564.0,0.551,Blount County,AL,...,0.0,23.2,341544.0,0.0,319700.0,5622.0,20941.0,3.0,644.78,88.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,NaN,NaN,NaN,44003.0,NaN,NaN,NaN,NaN,Kent County,RI,...,1.7,24.6,3039063.0,1381329.0,3242897.0,19228.0,398643.0,144.0,168.53,985.9
24979,NaN,NaN,NaN,44005.0,NaN,NaN,NaN,NaN,Newport County,RI,...,2.2,24.3,346092.0,263963.0,1096241.0,13483.0,343003.0,185.0,102.39,809.6
24980,NaN,NaN,NaN,44007.0,NaN,NaN,NaN,NaN,Providence County,RI,...,9.7,28.1,6422854.0,5856937.0,5924945.0,9430.0,1065946.0,342.0,409.50,1530.3
24981,NaN,NaN,NaN,44009.0,NaN,NaN,NaN,NaN,Washington County,RI,...,1.0,26.0,1756988.0,1453151.0,1726691.0,13619.0,272795.0,251.0,329.24,385.7
24982,NaN,NaN,NaN,45000.0,NaN,NaN,NaN,NaN,South Carolina,NaN,...,1.7,27.6,93977455.0,40498047.0,54298410.0,12273.0,8383463.0,27537.0,30060.70,153.9
24983,NaN,NaN,NaN,46000.0,NaN,NaN,NaN,NaN,South Dakota,NaN,...,0.8,22.2,13051128.0,11400476.0,12266218.0,15390.0,1622751.0,4722.0,75811.00,10.7
24984,NaN,NaN,NaN,47000.0,NaN,NaN,NaN,NaN,Tennessee,NaN,...,1.6,25.9,140447760.0,80116528.0,77547291.0,12563.0,10626759.0,27632.0,41234.90,153.9
24985,NaN,NaN,NaN,48000.0,NaN,NaN,NaN,NaN,Texas,NaN,...,20.7,28.2,593541502.0,424238194.0,311334781.0,13061.0,42054592.0,166982.0,261231.71,96.3
24986,NaN,NaN,NaN,49000.0,NaN,NaN,NaN,NaN,Utah,NaN,...,3.7,24.9,42431657.0,25417368.0,36574240.0,13730.0,3980570.0,17510.0,82169.62,33.6
24987,NaN,NaN,NaN,50000.0,NaN,NaN,NaN,NaN,Vermont,NaN,...,0.6,26.0,10751461.0,5121694.0,9310119.0,15005.0,1367630.0,1546.0,9216.66,67.9
24988,NaN,NaN,NaN,50001.0,NaN,NaN,NaN,NaN,Addison County,VT,...,0.0,22.1,538957.0,101400.0,464847.0,12657.0,48164.0,101.0,766.33,48.0
24989,NaN,NaN,NaN,50003.0,NaN,NaN,NaN,NaN,Bennington County,VT,...,0.6,24.8,571644.0,0.0,833024.0,22861.0,106659.0,35.0,674.98,55.0
24990,NaN,NaN,NaN,50005.0,NaN,NaN,NaN,NaN,Caledonia County,VT,...,0.0,28.0,339060.0,66247.0,412719.0,13565.0,29922.0,49.0,648.86,48.1
24991,NaN,NaN,NaN,50007.0,NaN,NaN,NaN,NaN,Chittenden County,VT,...,1.0,28.2,4823542.0,2392465.0,2740931.0,18188.0,360756.0,533.0,536.58,291.7
24992,NaN,NaN,NaN,50009.0,NaN,NaN,NaN,NaN,Essex County,VT,...,0.0,23.8,62793.0,0.0,15031.0,2325.0,3090.0,9.0,663.60,9.5
24993,NaN,NaN,NaN,50011.0,NaN,NaN,NaN,NaN,Franklin County,VT,...,0.0,23.6,0.0,413283.0,545346.0,11383.0,39606.0,152.0,633.71,75.3
24994,NaN,NaN,NaN,50013.0,NaN,NaN,NaN,NaN,Grand Isle County,VT,...,0.0,0.0,0.0,9066.0,39465.0,5229.0,6528.0,21.0,81.81,85.2
24995,NaN,NaN,NaN,50015.0,NaN,NaN,NaN,NaN,Lamoille County,VT,...,0.0,31.4,0.0,0.0,313467.0,12412.0,174189.0,66.0,458.80,53.3
24996,NaN,NaN,NaN,50017.0,NaN,NaN,NaN,NaN,Orange County,VT,...,0.0,24.7,161917.0,0.0,237240.0,8181.0,26208.0,39.0,687.03,42.1
24997,NaN,NaN,NaN,50019.0,NaN,NaN,NaN,NaN,Orleans County,VT,...,0.0,18.2,0.0,73373.0,324145.0,11858.0,36307.0,200.0,693.27,39.3
24998,NaN,NaN,NaN,50021.0,NaN,NaN,NaN,NaN,Rutland County,VT,...,0.5,23.9,640754.0,267644.0,1084887.0,17136.0,124431.0,50.0,929.82,66.3
24999,NaN,NaN,NaN,50023.0,NaN,NaN,NaN,NaN,Washington County,VT,...,1.0,23.0,1011871.0,0.0,946580.0,16125.0,118956.0,127.0,687.23,86.6
25000,NaN,NaN,NaN,50025.0,NaN,NaN,NaN,NaN,Windham County,VT,...,0.9,30.2,375077.0,867141.0,660735.0,15120.0,138405.0,91.0,785.31,56.7
25001,NaN,NaN,NaN,50027.0,NaN,NaN,NaN,NaN,Windsor County,VT,...,0.3,24.5,406465.0,327739.0,691702.0,12147.0,154409.0,73.0,969.34,58.5
25002,NaN,NaN,NaN,51000.0,NaN,NaN,NaN,NaN,Virginia,NaN,...,4.5,30.1,92417797.0,60513396.0,105663299.0,13687.0,15340483.0,28682.0,39490.09,202.6
25003,NaN,NaN,NaN,51515.0,NaN,NaN,NaN,NaN,Bedford city,VA,...,0.0,24.9,0.0,28870.0,124881.0,19848.0,15426.0,0.0,6.88,904.6
25004,NaN,NaN,NaN,53000.0,NaN,NaN,NaN,NaN,Washington,NaN,...,3.2,28.7,112053283.0,76790966.0,92968519.0,14380.0,12389422.0,33898.0,66455.52,101.2
25005,NaN,NaN,NaN,54000.0,NaN,NaN,NaN,NaN,West Virginia,NaN,...,0.7,28.1,25080573.0,11036467.0,20538829.0,11340.0,2553258.0,2677.0,24038.21,77.1
25006,NaN,NaN,NaN,55000.0,NaN,NaN,NaN,NaN,Wisconsin,NaN,...,1.3,25.9,163563195.0,59996244.0,72283321.0,12904.0,9247311.0,14622.0,54157.80,105.0
25007,NaN,NaN,NaN,56000.0,NaN,NaN,NaN,NaN,Wyoming,NaN,...,2.8,25.5,8834810.0,6352890.0,8957553.0,17114.0,1469008.0,1901.0,97093.14,5.8

#### 실습 : 실제 데이터 전처리하기
---
군집화 실습을 위해 사용할 데이터를 미리 전처리해보자

##### 분석에 도움되는 프로그래밍 팁
- immutable : 되도록 한번 할당된 변수를 다른 값으로 덮어쓰는 것은 피할 것
-

##### 사용 데이터 : 비누 구매 고객 데이터 (교재 21.6) - `BathSoap.xlsx`
- sheet3 : DM_Sheet, 멤버 정보 및 비누 구입 정보
- sheet4 : Durables, 멤버들의 비누 이외 타물품 소유 정보

In [199]:
# Brand 정보
brand_code_description = pd.read_csv('BathSoapBrandCode.csv')
brand_code_description

In [203]:
# column, Durables 정보
all_columns_description = pd.read_csv('BathSoapCodelList.csv')
all_columns_description

,Demographic Data,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,MEM,Member ID,NaN,NaN
1,SEC,"Socio economic class (1 = high, 4 = low)",NaN,NaN
2,1,A,NaN,NaN
3,2,B,NaN,NaN
4,3,C,NaN,NaN
5,4,D/E,NaN,NaN
6,NaN,NaN,NaN,NaN
7,FEH,Food Eating Habits,NaN,NaN
8,1,Pure,Vegetarian,NaN
9,2,Veg.But,Serve,Eggs
10,3,Non,Vegetraian,NaN
11,0,Not,Specified,NaN
12,NaN,NaN,NaN,NaN
13,MT,Native Language (mother tongue),NaN,NaN
14,1,Assamese,NaN,NaN
15,2,Bengali,NaN,NaN
16,3,English,NaN,NaN
17,4,Gujarati,NaN,NaN
18,5,Hindi,NaN,NaN
19,6,Kannada,NaN,NaN
20,7,Kashmiri,NaN,NaN
21,8,Konkani,NaN,NaN
22,9,Malayalam,NaN,NaN
23,10,Marathi,NaN,NaN
24,11,Oriya,NaN,NaN
25,12,Punjabi,NaN,NaN
26,13,Rajasthani,NaN,NaN
27,14,Sindhi,NaN,NaN
28,15,Tamil,NaN,NaN
29,16,Telugu,NaN,NaN
...,...,...,...,...
181,49,Computer Printers,6,NaN
182,50,Fax Machine,6,NaN
183,51,Video camera/Handycam,6,NaN
184,52,Radio Clock,2,NaN
185,53,Deep Freezer,5,NaN
186,54,Electirc Kettle,1,NaN
187,55,Dish Washing Machine,5,NaN
188,56,Kitchen Sink,1,NaN
189,57,Floor Polisher,1,NaN
190,58,Cars/Jeeps/Vans,8,NaN
191,59,Auto Rickshaw,3,NaN
192,60,Tractors,5,NaN
193,61,Oven-In Built Range,5,NaN
194,62,Oven Ordinary Box (Gas),3,NaN
195,63,Electric Table Fan,1,NaN
196,64,Electric Ceiling Fan,1,NaN
197,65,Torch,1,NaN
198,66,Sewing Machine,2,NaN
199,67,Generator,5,NaN
200,68,Pump Set/Water Pump,5,NaN
201,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN
203,Not used:,NaN,NaN,NaN
204,Product Codelist,NaN,NaN,NaN
205,2,Toilet Soaps,NaN,NaN
206,5,Tooth Paste/Powder,NaN,NaN
207,1,Washing Soaps/Detergents,NaN,NaN
208,21,Washing Powder,NaN,NaN
209,45,Skin Creams,NaN,NaN
210,20,Edible Oils/Ghee/Vanaspati,NaN,NaN

##### pd.read_excel
`BathSoap.xlsx` 파일에서 데이터가 있는 sheet를 DataFrame으로 변환

##### pd.merge
Durable과 Dm_Sheet을 합쳐볼 것

##### 필요 없는 컬럼 삭제

##### 데이터로 쓰지 못하는 열 삭제 : 결측치 처리  - pd.fillna

In [ ]:

filled_nan_cols = ['votes', 'fraction_votes']
nan_filled_df = joined_df.copy()
nan_filled_df[filled_nan_cols] = nan_filled_df[filled_nan_cols].ffill()
nan_filled_df

##### scaling